body{ background-color: black;}

.car{text-align: center;
color: rgb(23, 209, 255);}
.car1{ text-align: center;
color: rgb(6, 255, 255);
;}
#carro{padding-left: 650px;
width: 650px;}

.car2{ padding-left: 400px;}










