.saveiro{
         padding-left: 650px;
         padding-top: 40px;
         
}
.cross{
        text-align: center;
         padding-top: 40px;
        color: rgb(25, 0, 255);
}
.rebaixada{
          text-align: center;
          color: blue;
          
}