.bone1{ 
       margin: 100px;
       padding-left: 100px;
       color: rgb(255, 0, 0);
       display: contents;

}
#bonezin{
    margin-left: 100px;
    margin-top: 5px;
}
.bone2{
       margin: 50px;
      color: black;
}
.bo{
    margin: 20px;
}